{{#> layout name="main" }}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 text-center">
            <div class="card shadow">
                <div class="card-body py-5">
                    <h1 class="display-6 mb-3">Logged Out</h1>
                    <p class="lead mb-4">You have been successfully logged out.</p>
                    <a href="/login" class="btn btn-primary">Log In Again</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/layout}}